.error-404 {
	margin-top: 200px;
	font-size: 1.5em;
	color: rgb(68, 80, 69);
	text-align: center;
}

.error-404-container {
	max-width: 600px;
	margin: auto;
}

p {
	text-align: start;
}

a {
	color: rgb(68, 80, 69);
}

.error-404 h1 {
	font-size: 6em;
	font-weight: bold;
	display: inline;
	text-align: end;
}


.error-404 h2 {
	font-size: 2em;
	font-weight: 500;
	color: rgb(40 116 240);
	margin-top: 10px;
}