.testimonials {
	/* padding: 4rem 6rem; */
	font-family: var(--font-family);
}

.join_us_bar {
	background: var(--gradient-bar);
	margin: 4rem 10%;
	padding: 1.5rem 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 20px;
}

.join_us_bar .join_us_text {
	max-width: 70%;
}

.join_us_bar .join_us_text h2 {
	font-size: 1.7rem;
	font-weight: 800;
	line-height: 50px;
}

.join_us_bar .join_us_text span {
	font-size: 1.2rem;
	font-weight: 600;
}

.join_us_button a {
	background-color: #040C18;
	color: #fff;
	padding: 10px 20px;
	border-radius: 20px;
	font-size: 1.3rem;
	font-weight: 600;
	cursor: pointer;
}



/* =========================== */




.testimony_container{
	background-color: var(--color-blog);

}
.testimony_container img{
	width: 150px;
}




@media screen and (max-width: 1050px) {}

@media screen and (max-width: 768px) {
	.join_us_bar {
		flex-direction: column;
		text-align: justify;
	}

	.join_us_button {
		margin: 15px;
		margin-top: 3rem;
	}
}

@media screen and (max-width: 550px) {
	.join_us_bar {
		padding: 10px 10px;
	}

	.join_us_bar .join_us_text p {
		font-size: 14px;
	}

	.join_us_bar .join_us_text span {
		font-size: 1rem;
		font-weight: 600;
	}

	.join_us_button {
		margin: 1.5rem;
		margin-top: 2rem;
	}


	.testimony_container{
		padding: 4rem 0px;
	}
}