.testimonials {
	/* padding: 4rem 6rem; */
	font-family: var(--font-family);
}

.join_us_bar {
	background: var(--gradient-bar);
	padding: 1.5rem 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 20px;
}

.join_us_bar .join_us_text {
	max-width: 70%;
}

.join_us_bar .join_us_text h2 {
	font-size: 1.7rem;
	font-weight: 800;
}

.join_us_bar .join_us_text span {
	font-size: 1.2rem;
	font-weight: 600;
}

.join_us_button a {
	background-color: #040C18;
	color: #fff;
	padding: 10px 20px;
	border-radius: 20px;
	font-size: 1.3rem;
	font-weight: 600;
	cursor: pointer;
}