.kahe_login {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	background-color: #dcdddc;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.kahe_login_container {
	/* border: 2px solid #357c43; */
	padding: 2rem;
	border-radius: 10px;
	text-align: center;
	box-shadow: 0px 0px 10px 0px #3d3d3d;
	background-color: #b9c5bb;
}

.kahe_login_container .kahe_logo img {
	width: 200px;
}

.kahe_login_text {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 2rem;
	color: rgb(85, 85, 85);
}


.kahe_google_logo {
	width: 24px;
	height: 24px;
}

.kahe_logon_button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 40px;
	margin: auto;
	border: none;
	font-weight: 600;
	border-radius: 10px;
	cursor: pointer;
	transition: 500ms;
	background-color: #ffffff;
}

.kahe_logon_button:hover {
	background-color: rgb(226, 225, 225);
}