.kahe_login {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	background-color: #367D43;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.kahe_login_container {
	border: 2px solid red;
	text-align: center;
}


.kahe_google_logo{
	width: 24px;
	height: 24px;
}

.kahe_logon_button{
	display: flex;
	justify-content: center;
	align-items: center;
}