.new_company_container {
	margin-left: 8%;
	margin-right: 8%;
}

.form_container_company_detail{
	margin: 20px;
	display: flex;
	gap: 4rem;
	justify-content: space-between;
}
.form_container_eligibility{
	margin: 20px;
	display: flex;
	gap: 4rem;
	justify-content: space-between;
	flex-wrap: wrap;
}