.login {
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.login_container {
	padding: 2rem;
	border-radius: 10px;
	text-align: center;
	box-shadow: 0px 0px 5px 0px #3d3d3d;
	color: rgb(88, 88, 88);
}

